@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: #dfdfdf;
    font-family: 'Roboto Condensed', sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    min-height: 500px;
    margin-top: 10vh;
}

.container {
    width: 400px;
    background-color: #28282B;
    border-radius: 15px;
    padding: 20px 20px;
    border: 2px black solid;
}

#screen {
    padding: 10px 10px;
    border: 2px black solid;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color:  #DAF7A6 ;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.lastNum {
    min-height: 35px;
    font-size: 20px;
}

.currentNum {
    min-height: 70px;
    font-size: 50px;
}

#buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #858590;
    padding: 20px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 30px;
    font-family: inherit;
    cursor: pointer;
}

button:active {
    transform: scale(1.05);
}

.long {
    grid-column: span 2;
    background-color: #c7c7c7;
}

#buttons > .ops {
    background-color: #CD5C5C;
}

#eq {
    background-color: #c7c7c7;
}
